@charset "utf-8";
#wrap {
   width: 1012px;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}
#page_header {
	background-color: #fdf5d0;
	height: 57px;
	width: 1012px;
}
#logo {
	float: left;
	height: 57px;
	width: 196px;
	margin-top: 10px;
	margin-left: 10px;
}
#menu {
	float: right;
	height: 41px;
	width: 176px;
	margin-top: 10px;
	margin-right: 10px;
}
#page_center {
	background-image: url(images/cookilab_09.png);
	background-repeat: no-repeat;
	float: left;
	height: 359px;
	width: 1012px;
}
.bannerset {
	background-color: #f2f2f2;
	float: left;
	height: 326px;
	width: 1012px;
}
