@charset "utf-8";
#wrap {
   width: 1012px;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}
#page_header {
	background-color: #fdf5d0;
	height: 75px;
	width: 1012px;
}
#logo {
	float: left;
	height: 57px;
	width: 196px;
	margin-top: 10px;
	margin-left: 10px;
}
#menu {
	float: right;
	height: 41px;
	width: 176px;
	margin-top: 10px;
	margin-right: 10px;
}
#page_center {
	background-image: url(images/cookilab_09.png);
	background-repeat: no-repeat;
	float: left;
	height: 359px;
	width: 1012px;
}
.bannerset {
	background-color: #f2f2f2;
	float: left;
	height: 326px;
	width: 1012px;
}
.banner1 {
	float: left;
	height: 267px;
	width: 295px;
	margin-top: 30px;
	margin-left: 26px;
}
#footer {
	height: 98px;
	width: 1012px;
	float: left;
}
#mytable {
	float: right;
	height: 200px;
	margin-top: 80px;
	margin-right: 50px;
}
#mytable tr th {
	font-weight: bold;
	background-color: #c6c6c6;
	width: 150px;
	font-size: 14pt;
	border-top-color: #a1a1a1;
	border-right-color: #a1a1a1;
	border-bottom-color: #a1a1a1;
	border-left-color: #a1a1a1;
}
input {
	font-size: 14pt;
	width: 150px;
	margin-left: 30px;
}

#mytable tr td {
	background-color: #d8d8d8;
	text-align: center;
	border-top-color: #a1a1a1;
	border-right-color: #a1a1a1;
	border-bottom-color: #a1a1a1;
	border-left-color: #a1a1a1;
}
