@charset "utf-8";
#wrap {
   width: 1024px;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}
#page_header {
   background-image: url(images/ebook_05.jpg);
   background-repeat: repeat-x;
   float: left;
   height: 101px;
   width: 1024px;
}
#logo {
   background-image: url(images/ebook_02.jpg);
   background-repeat: no-repeat;
   float: left;
   height: 97px;
   width: 131px;
   margin-left: 60px;
}
#menu1 {
   float: left;
   height: 45px;
   width: 486px;
   margin-top: 55px;
   margin-left: 64px;
}
#menu2 {
   float: right;
   height: 34px;
   width: 231px;
   margin-right: 45px;
}
#page_center {
   background-image: url(images/ebook_15.jpg);
   float: left;
   height: 428px;
   width: 1024px;
}
#bennerset {
   float: left;
   height: 108px;
   width: 1024px;
}
.benner1 {
   background-image: url(images/ebook_16.jpg);
   float: left;
   height: 106px;
   width: 236px;
}
.benner2 {
   background-image: url(images/ebook_17.jpg);
   float: left;
   height: 108px;
   width: 223px;
}

.benner3 {
   background-image: url(images/ebook_17.jpg);
   float: left;
   height: 108px;
   width: 565px;
}
#footer {
   background-image: url(images/ebook_19.png);
   float: left;
   height: 108px;
   width: 1024px;
}
